HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/.firebaserc
/.gitattributes
/src/test/java/com/collabnotes/CollabNotes/CollabNotesApplicationTests.java
/src/main/resources/focus-poet-457511-n7-firebase-adminsdk-fbsvc-39626c7ba6.json
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/.firebase/hosting.YnVpbGQ.cache
/prometheus.yml
/src/main/resources/static/websocket-test.html
